.topservices-main-container-1{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.top-bus-routes{
    padding: 50px 20px 50px 20px;
}

.top-bus-routes-li{
    cursor: pointer;
    margin-top: 10px;
}

.topservices-main-container-2{
    margin:50px 70px;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: 500;
}