.globalpresence-main-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 211, 211);
    width: 100vw;
    text-align: center;
}

.globalpresence-main-container-flex{
    display: flex;
    justify-content: space-evenly;
}

.globalpresence-main-container-1{
    margin: 40px 60px 60px 40px;
    font-size: 22px;
    color: rgb(51, 46, 46);
}

.colombia-country{
    letter-spacing: 1px;
    padding: 40px;
    cursor: pointer;
}